<!-- Test/TestMVC/templates/index.html -->
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Index</title>
	</head>
	<body>
		<h1>Linguamatics Python Django Test - Rowan Joice</h1>
		<a href="/">Home</a>
		<hr/>
		<h2>Error - Bad Input</h2>
		<br/>
		{% if query == "" %}
			<p>No query entered</p><br/>
		{% endif %}
		
		{% if yearFrom == "" %}
			<p>No "year from" entered</p><br/>
		{% endif %}
		
		{% if yearTo == "" %}
			<p>No "year to" entered</p><br/>
		{% endif %}
		
		{% if dateFault == "true" %}
			<p>"Year from" entered is more than "year to". "Year from" must be less than or equals to "year to".</p><br/>
		{% endif %}
	</body>
</html>