<!-- Test/TestMVC/templates/index.html -->
<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Index</title>
	</head>
	<body>
		<h1>Linguamatics Python Django Test - Rowan Joice</h1>
		<a href="/">Home</a>
		<hr/>
		<form method="POST">
			{% csrf_token %}
			Input a disease or disease area: 
			<br/><input type="text" name="input"><br/>
			Year from:
			<input type="number" name="from" min="1900" max="2018"><br/>
			Year to:
			<input type="number" name="to" min="1900" max="2018">
			<button type="submit">Search</button>
		</form>
	</body>
</html>