<!-- Test/TestMVC/templates/response.html -->
<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<meta charset="utf-8">
		<title>Results</title>
	</head>
	<body>
		<h1>Linguamatics Python Django Test - Rowan Joice</h1>
		<a href="/">Home</a>
		<hr/>
		<h2>Search Results:</h2>
		{{ matches }}
		<br/>
		<img src="{% static 'plot.png' %}" alt="plot" >
	</body>
</html>